# Исключаем служебные папки .NET, где бы они ни находились
**/bin
**/obj

# Исключаем Git-репозиторий
.git
.gitignore

# Исключаем папки IDE, которые могут содержать большие кэши
.vs/
.vscode/
.idea/

# Исключаем пользовательские файлы проекта
*.csproj.user
*.sln.DotSettings.user

# Исключаем сгенерированные файлы Rider
.idea/.idea.FunAndChecks/.idea/