@page "/queues"
@model FunAndChecks.Pages.Queue.Index
@{
    ViewData["Title"] = "Выберите очередь";
}
@{
    Layout = "_Layout";
}

<div class="container">
    <h1 class="my-4">@ViewData["Title"]</h1>

    @if (Model.QueueEvents.Any())
    {
        <div class="list-group">
            @foreach (var evt in Model.QueueEvents)
            {
                <a href="/queue/event/@evt.Id" class="list-group-item list-group-item-action">
                    @evt.Name
                </a>
            }
        </div>
    }
    else
    {
        <p class="text-muted">Нет активных очередей для просмотра.</p>
    }
</div>