@page "/results"
@model FunAndChecks.Pages.Results.Index

@{
    Layout = "_Layout";
}

@{ ViewData["Title"] = "Выберите предмет"; }

<h1>Выберите предмет для просмотра результатов</h1>
<ul>
    @foreach (var subject in Model.Subjects)
    {
        <li><a href="/results/subject/@subject.Id">@subject.Name</a></li>
    }
</ul>